body {
  --switch: initial;
}
.container {
  background: lightgrey;
  display: grid;
  width: 100%;
  height: 50vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /*   gap: 0.1rem; */
}
.item {
  background: lightgreen;
}
.item--1 {
  --start: 2;
  --end: 4;
  background: cyan;
  grid-column: var(--start) / var(--end);
  grid-row: var(--start) / var(--end);
}
.toggle {
  --color: var(--switch) hotpink;
  width: 100px;
  height: 100px;
  background: var(--color, lightgreen);
}
.toggle:hover {
  --switch: ;
}
